div{
  color:rgb(80, 19, 19);
  min-height: 100vh;

}

h1 {
  color:rgb(243, 235, 235);
  font-family:sans-serif;
  text-align: center;
  animation: blink;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,
  1px 4px 1px #919191,
  1px 5px 1px #919191,
  1px 6px 1px #919191,
  1px 7px 1px #919191,
  1px 8px 1px #919191,
  1px 9px 1px #919191,
  1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);

animation: blinker 1s linear infinite;



  }

  @keyframes blinker {
    80% {
      opacity: 0;
    }
  }

.root {
  min-height: 100vh;
}

th,
td {
  padding: 0.25 rem !important;
 
}

table tr:nth-child(n+2) {background-color: #7188b9;}
table tr:nth-child(even) {background-color: #c4bce2;}

